<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
</head>
<body>
<form th:action="@{/}" method="get">
  <button type="submit">메인페이지</button>
</form>
<form th:action="@{/posts/upload}" method="get">
  <button type="submit">게시글 작성</button>
</form>
  <hr />
  <div>

  <table class="table">
    <tr>
      <th>ID</th>
      <th>제목</th>
      <th>작성자</th>
      <th>조회수</th>
    </tr>
    <tr th:each="posts : ${postList}" th:method="get">
      <td><a href="detail.html" th:href="@{/posts/detail/{postId}(postId=${posts.postId})}" th:text="${posts.postId}" >글 ID</a></td>
      <td><a href="detail.html" th:href="@{/posts/detail/{postId}(postId=${posts.postId})}" th:text="${posts.title}" >제목</a></td>
      <td th:text="${posts.userName}">작성자</td>
      <td th:text="${posts.viewCount}">조회수</td>
    </tr>
  </table>
</div>

</body>
</html>