<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글</title>
</head>

<body th:with="postId=${postId}">

<form th:action="@{/posts/board}" method="get">
    <button type="submit">게시판</button>
</form>
<form th:action="@{/posts/detail/edit/{postId}(postId=${postId})}" th:method="get">
    <button type="submit">게시글 수정</button>
</form>
<form th:action="@{/posts/detail/{postId}(postId=${postId})}" th:method="delete">
    <button type="submit">게시글 삭제</button>
</form>
<form th:action="@{/posts/detail/like/post/{postId}(postId=${postId})}" th:method="put">
    <button type="submit">게시글 좋아요</button>
</form>


<form th:action="@{/posts/detail}" th:method="get">
    <td th:text=" ${userName}+'[' +${loginId}+']' ">작성자</td>
    <hr/>
    <h1>
        <td th:text="${title}">제목</td>
        <td th:text="'<' + ${viewCount} + '>'">조회수</td>
    </h1>
    <hr/>
    <p>
        <td th:text="${content}">내용</td>
    </p>
</form>

<hr/>

<table class="table">
    <thead>
    <tr>
        <th>댓글</th>
    </tr>
    </thead>
    <form th:action="@{/posts/detail/comment/{postId}(postId=${postId})}" th:method="post">
        <div>
            <input th:type="text" id="comment" name="comment" placeholder="댓글을 입력하십시오">
        </div>
        <div>
            <button type="submit">댓글 작성</button>
        </div>
    </form>
</table>
<hr/>

<table class="table" th:border="1">
    <tbody>
    <tr>
        <th>댓쓴이 이름</th>
        <th>댓글 내용</th>
        <th>댓글 좋아요</th>
        <th>댓글 아이디</th>
    </tr>

    <!--    대댓글 추가시 변경사항 parentId가 있으면 대댓글으로 표시해주기, 조건문으로 대댓글의 대댓글 달기 버튼 삭제-->
    <span th:each="info : ${commentList}">
    <tr>
        <td th:text="${info.userName}">댓쓴이 이름</td>
        <td th:text="${info.comment}">댓글 내용</td>
        <td th:text="${info.likeCount}">좋아요</td>
        <td th:text="${info.commentId}">댓글아이디</td>
        <td>
            <form id="likeUpdate" th:action="@{/posts/detail/like/comment/{commentId}(commentId=${info.commentId})}"
                  th:method="put">
                <!--                <input type="hidden" th:value="${info.commentId}" th:name="commentId"/>-->
                <button type="submit">좋아요</button>
            </form>
        </td>
        <td>
            <form id="deleteComment" th:action="@{/posts/detail/comment}" th:method="delete">
                <input type="hidden" th:value="${info.commentId}" th:name="commentId"/>
                <button type="submit">삭제</button>
            </form>
        </td>
        <td>
            <form id="editComment" th:action="@{/posts/detail/edit/comment/{commentId}(commentId=${info.commentId})}"
                  th:method="get">
                <input type="hidden" th:value="${info.commentId}" th:name="commentId"/>
                <button type="submit">수정</button>
            </form>
        </td>
        <td>
            <form id="saveReply" th:action="@{/posts/detail/reply/{commentId}(commentId=${info.commentId})}"
                  th:method="get">
                <input type="hidden" th:value="${info.commentId}" th:name="commentId"/>
                <button type="submit">대댓글</button>
            </form>
        </td>

    <tr th:each="replyInfo : ${replyList}">
        <span th:if="${info.commentId == replyInfo.parentId}">
        <td th:text="${replyInfo.userName}">댓쓴이 이름</td>
        <td th:text="${replyInfo.comment}">댓글 내용</td>
        <td th:text="${replyInfo.likeCount}">좋아요</td>
        <td th:text="${info.commentId} + '의 대댓글'">부모댓글 아이디</td>
        <td>
            <form id="replyLikeUpdate"
                  th:action="@{/posts/detail/like/comment/{commentId}(commentId=${replyInfo.commentId})}"
                  th:method="put">
                <button type="submit">좋아요</button>
            </form>
        </td>
        <td>
            <form id="replyDeleteComment" th:action="@{/posts/detail/comment}" th:method="delete">
                <input type="hidden" th:value="${replyInfo.commentId}" th:name="commentId"/>
                <button type="submit">삭제</button>
            </form>
        </td>
        <td>
            <form id="replyEditComment"
                  th:action="@{/posts/detail/edit/comment/{commentId}(commentId=${replyInfo.commentId})}"
                  th:method="get">
                <input type="hidden" th:value="${replyInfo.commentId}" th:name="commentId"/>
                <button type="submit">수정</button>
            </form>
        </td>
</span>
    </tr>


        </tr>

        </span>
    </tbody>
</table>

</body>
</html>